@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x:none;
}
body {
  overflow-x: hidden;
}
.Top-Bar{
    margin-top:0;
    display: flex;
    flex-direction: row;
    position:sticky;
    align-items:center;
    border:2px solid #1f1633;
    background-color: #1f1633;
    width:100%;
    top:0;
    left:0;
    z-index:100;
    overflow-x: hidden;
}
.Top-Bar1{
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: #1f1633;
    color:white;
    font-family:"Rubik";
    position:sticky;
    /* border:2px solid #1f1633;
    border: width 100px; */
    padding-left:5%;
    padding-top: 0.2%;
    padding-bottom:0.2%;
}
.Pink-Banner{
    display:inline-block;
    color:#fd44b0;
    transform:rotate(-10deg);
    overflow-x:hidden;
}
.logo_chain{
    margin-left:10%;
}
a.g1{
    text-decoration:none;
    color:white;
    font-weight: 400;
    font-size: 2.0rem;
    /* border:2px solid #1f1633; */
    /* padding-left:160px; */
}
.Top-Bar2{
    background-color: #1f1633;
    color:white;
    font-family:"Rubik";
    position:sticky;
    /* border:2px solid #1f1633;
    border: width 100px; */
    padding-left:2%;
    padding-top: 0.2%;
    padding-bottom:0.2%;
}
a.g2{
    text-decoration:none;
    color:white;
    font-weight: 400;
    font-size: 1.0rem;
    /* border:2px solid #1f1633; */
    /* padding-left:160px; */
    border:2px solid #1f1633;
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    background-color: #1f1633;
}
a.g2:hover{
    border:2px solid #6a5fc1;
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    background-color: #6a5fc1;
}
.Top-Bar3{
    background-color: #1f1633;
    color:white;
    font-family:"Rubik";
    position:sticky;
    /* border:2px solid #1f1633;
    border: width 100px; */
}
.Top-Links{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 48px;
    list-style-type:none;
    font-family:"Rubik";
    font-size:0.5rem;
    justify-content:space-between;
}
.Top-Links1{
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style-type:none;
    font-family:"Rubik";
    font-size:0.5rem;
    /* padding-left:800px; */
    
}
a.g3{
    text-decoration:none;
    color:white;
    font-weight: 400;
    font-size: 1.0rem;
    /* border:2px solid #1f1633; */
    /* padding-left:160px; */
    border:2px solid orange;
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}
a.g3:hover{
    background-color: orange;

}
a.g4{
    text-decoration:none;
    color:black;
    font-weight: 400;
    font-size: 1.0rem;
    /* border:2px solid #1f1633; */
    /* padding-left:160px; */
    border:2px solid white;
    background-color:white;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
}
body{
    background-color: #1f1633;
}
.Pop-up{
    text-align:center;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    border:2px solid #6a5fc1;
    background-color: #6a5fc1;
    font-family:"Rubik";
    width:fit-content;
    margin:0 auto;
    border-radius:5px;
    padding-left:5px;
    padding-right:5px;
    margin-top:50px;
}
.pop-up-link{
    text-decoration:none;
    color:white;
    font-family:"Rubik";
}
.Banner{
    font-size:2.0rem;
    margin-left:20%;
    margin-right:20%;
    margin-top:40px;
    color:white;
    font-family:Rubik;
    letter-spacing:1px;
}
/* .Pink-Banner{
    font-size:3.0rem;
    padding-left:130px;
    margin-top:40px;
    color:#fd44b0;
    font-family:Rubik;
    letter-spacing:1px;
} */
.SubText{
    color:white;
    font-family:Rubik;
    font-size:1.5rem;
    margin-left:20%;
    margin-right:20%;
    margin-top:20px;
    text-align:center;
    margin-top:30px;
}
.links1{
    display:flex;
    flex-direction:row;
    gap:20px;
    color:white;
    font-family:Rubik;
    font-size:1.0rem;
    text-align:center;
    padding-top:30px;
}
.chota{
    display:flex;
    flex-direction:row;
    gap:30px;
    color:white;
    font-family:Rubik;
    font-size:1.0rem;
    text-align:center;
    padding-left:42%;
    padding-top:40px;
    list-style-type:none;
}
.Text1{
    display:inline-block;
    transform:translate(200px,-130px);
}
.Text2{
    display:inline-block;
    transform:translate(450px,-130px);
}
.Text3{
    display:inline-block;
    transform:translate(630px, -60px);
}
.Title-small{
    color:white;
    font-family:Rubik;
}
.Title-smaller{
    color:white;
    font-family:Rubik;
}
a.down-links1{
    border:2px solid orange;
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}
a.down-links2{
    border:2px solid white;
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:white;
    color:#1f1633;

}
a{
    text-decoration:none;
    color:white;
}
a.down-links1:hover{
    background-color:orange;
}
.Mascot{
    margin-top:100px;
    max-width:100%;
    height:auto;
}
.UFO{
    margin-top:200px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:75vh;
    transform:translateX(80%);
}
.Pink{
    color:#fd44b0;
    font-size:4.0rem;
    font-family: Rubik;
    padding-left:10%;
    letter-spacing:1px;
}
.Title{
    font-size:4.0rem;
    color:white;
    font-family: Rubik;
    padding-left:10%;
    padding-top:30%;
    letter-spacing:1px;
}
.flexypic{
    padding-left: 10%;
    padding-top:5%;
}
.Top-headings{
    padding-top:2%;
    padding-left:10%;
    color:white;
    font-family:Rubik;
    display:flex;
    flex-direction:rows;
    gap:35%;
    list-style-type:none;
    font-size:25px;;
}
/* .Top-Body{
    display:flex;
    flex-direction: row;
    color:white;
    font-family:Rubrik;
    gap:10%;
    padding-left:10%;
    padding-top:1%;
}  */
.Top-Body1{
    color:white;
    font-family:Rubik;
    font-size:1rem;
    margin-top:1%;
    margin-left: 10%;
    line-height:1.6;
}
.Top-Body2{
    color:white;
    font-family:Rubik;
    font-size:1rem;
    transform:translateX(59%);
    margin-top:-1.2%;
    line-height:1.6;
}
a.g5{
    color:white;
    text-decoration:underline;
}
.Top-Body3{
    color:white;
    font-family:Rubik;
    font-size:1rem;
    transform:translateX(59%);
    margin-top:-4%;
    line-height:1.6;
}
.exception{
    transform:translateX(20%);
}
.Title1{
    font-size:4.0rem;
    color:white;
    font-family: Rubik;
    padding-left:10%;
    padding-top:10%;
    letter-spacing:1px;
}
.SubText1{
    color:white;
    font-family:Rubik;
    padding-left:10%;
    padding-top:2%;
    line-height:1.6;
    letter-spacing:1px;
    font-size:1.5rem;
}
.c1{
    color:white;
    font-family:Rubik;
    font-size:1.5rem;
    text-align:left;
    line-height:1.6;

}
a.hidden-link{
    text-decoration: none;
}
.flexyText1{
    padding-top:2%;
    display:flex;
    flex-direction: row;
    gap:2px;
    padding-left:10%;
    align-items:center;

}
.flexyquotes{
    display: flex;
    flex-direction:row;
    gap:7%;
    align-items:top;
    color:white;
    font-family:Rubik;
    padding-left:10%;
    font-size:1.2rem;
    line-height:1.3;
    font-style:italic;

}
.flexystylequotes{
    display: flex;
    flex-direction:row;
    gap:29%;
    align-items:center;
    margin-left:10%;
    margin-top:5%;
    margin-bottom:1%;
}
.flexusage{
    display:flex;
    flex-direction:row;
    padding-left:120px;
    padding-top:5%;
    color:white;
    opacity:0.4;
    font-family:Rubik;
    font-size:1.5rem;
    gap:5px;
    align-items:center;
    cursor:pointer;
}
input[type="radio"]{
    padding-left:120px;
}
.tricky_part1{
    position:relative;
    display:flex;
    flex-direction:row;
    gap:10%;
}
.stack{
    position:relative;
    top:0;
    left:0;
    margin-top:5%;
}
/* #Radio1:checked ~.stack #img1A,
#Radio2:checked ~.stack #img2A
#Radio3:checked ~.stack #img3A{
    opacity:1;

}
#Radio1:checked ~.flexusage:nth-child(1),
#Radio2:checked ~.flexusage:nth-child(2),
#Radio3:checked ~.flexusage:nth-child(3){
    opacity:1;
} */
/* #img1A{
    opacity:0;
}
#img2A{
    opacity:0;
}
#img3A{
    opacity:0;
} */
.stack {
    position: relative;
    width: 500px;
    height: 500px;
}

.stack img {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
}

/* Default image */
#Radio1:checked ~ .stack #img1A {
    opacity: 1;
}
#Radio1:checked ~.flexusage_ka_bhai .flexusage:nth-child(1){
    opacity:1;
}
#Radio2:checked ~.flexusage_ka_bhai .flexusage:nth-child(2){
    opacity:1;
}
#Radio3:checked ~.flexusage_ka_bhai .flexusage:nth-child(3){
    opacity:1;
}

#Radio2:checked ~ .stack #img2A {
    opacity: 1;
}

#Radio3:checked ~ .stack #img3A {
    opacity: 1;
}

/* Hide radio buttons */
input[type="radio"] {
    display: none;
}
.drop-down-menu{
    
    font-family:Rubik;
    text-align:center;
    border:2px solid #362d59;
    background-color:#362d59;
    margin-left:40%;
    margin-right:40%;
    visibility:hidden;
}
.drop-down{
    margin-top:10%;
    font-family:Rubik;
    text-align:center;
    border:2px solid #362d59;
    background-color:#362d59;
    margin-left:40%;
    margin-right:40%;
    border-radius:5px;
    cursor:pointer;
}
.drop-down-menu a:focus{
    background-color:lab(54.1736% 13.3369 -74.6839);
}
input[type="checkbox"]{
    visibility:hidden;
}
#box1:checked ~.drop-down-menu{
    visibility:visible;
    display:block;
}
#box1:checked ~.small_subtext{
    margin-top:100px;
}
.small_subtext{
    text-align:center;
    font-family:Rubik;
    font-size:0.75rem;
    font-weight:300;
    color:white;
    margin-top:-400px;
}
.cheetah{
    padding-left:140px;
    padding-top:50px;
    line-height:1.6;
    color:white;
    font-family:Rubik;
    font-size: 1.2rem;
    font-weight:100px;
}
.logo-column{
    padding-left:120px;
    padding-top:50px;

}
.flex-father{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.flex-son{
    margin-top:50px;
    border:2px solid white;
    background-color:white;
    color:#6a5fc1;
    border-radius:5px;
    margin-left:140px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    font-family:Rubik;
    
}
a.linky{
    text-decoration: none;
    color:#6a5fc1
}
.flex-daughter{
    margin-top:57px;
}
a.blinky{
    border:2px solid orange;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    font-family:Rubik;
}
a.blinky:hover{
    background-color:orange;
}
.flexusage_ki_maa{
    display:flex;
    flex-direction:row;
    gap:100px;
    margin-left:20px;
}
.stack1 {
    position: relative;
    width: 500px;
    height: 500px;
}

.stack1 img {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
}
#Radio4:checked ~ .stack1 #img1B {
    opacity: 1;
}
#Radio4:checked ~.flexusage_ka_bhai1 .flexusage1:nth-child(1){
    opacity:1;
}
#Radio5:checked ~.flexusage_ka_bhai1 .flexusage1:nth-child(2){
    opacity:1;
}
#Radio6:checked ~.flexusage_ka_bhai1 .flexusage1:nth-child(3){
    opacity:1;
}

#Radio5:checked ~ .stack1 #img2B {
    opacity: 1;
}

#Radio6:checked ~ .stack1 #img3B {
    opacity: 1;
}
.flexusage1{
    display:flex;
    flex-direction:row;
    padding-left:120px;
    padding-top:5%;
    color:white;
    opacity:0.4;
    font-family:Rubik;
    font-size:1.5rem;
    gap:5px;
    align-items:center;
    cursor:pointer;
}
a.g9{
    text-decoration: underline;
}
 .flexysmallquotes{
    display:flex;
    flex-direction:row;
    gap:5px;
}
 .zesty-quotes{
    display:flex;
    flex-direction:row;
    align-items: center;
    color:white;
    font-family:"Rubik";
    gap:10px;
}
.quote-image{
    width:10%;
}
.zesty-paragraphs{
    display:flex;
    flex-direction:column;
    gap:20px;
    font-family:"Rubik";
    color:white;
    font-style:italic;
    line-height:1.6;
}
.cute-para{
    font-size:1.5rem;
}
.zesty-flex{
    display:flex;
    flex-direction:row;
    margin-left:100px;
    gap:40px;
    margin-top:100px;
}
.grid-usage{
    margin-top:20%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content:center;
    gap:20px;
    place-items:center;
}
.small-pink{
    color:#fd44b0;
    font-family:"Rubik";

}
.bottom-grid{
    font-family:"Rubik";
    color:white;
}
a.bottom-grid:hover{
    cursor:pointer;
    text-decoration:underline;
}
.mid-column{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items: center;
}
a.Pink-Banner:hover{
    transform:rotate(0deg);
    cursor:none;
    transition-duration:1s;
}
.chain-of-logos{
    display:flex;
    flex-direction:row;
    /* margin-left:120px; */
    margin-right:120px;
    gap:70px;
    position:relative;
    animation-name: hill;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
}
/* @keyframes hill{
    0%{

    }
    50%{
        transform:translate(100px,-100px)
    }
    100%{
        transform:translate(200px,0px);
    }
} */
.l1{
    animation-name: logo1;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
}
@keyframes logo1 {
    0%{
        transform:translateX(0px);
    }
    5%{
        transform:translate(0px);
    }
    20%{
        transform:translateX(240px);
    }
    25%{
        transform:translateX(240px);
    }
    40%{
        transform:translateX(480px);
    }
    45%{
        transform:translateX(480px);
    }
    52.5%{
        transform:translate(600px,-200px);
    }
    60%{
        transform:translateX(720px);
    }
    65%{
        transform:translateX(720px);
    }
    80%{
        transform:translateX(960px);
    }
    85%{
        transform:translateX(960px);
    }
    100%{
        transform:translateX(1200px);
    }
}
.l2{
    animation-name: logo2;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
}
@keyframes logo2{
    0%{
        transform:translate(0px);
    }
    5%{
        transform:translate(0px);
    }
    20%{
        transform:translateX(240px);
    }
    25%{
        transform:translateX(240px);
    }
    32.5%{
        transform:translate(360px,-200px);
    }
    40%{
        transform:translateX(480px);
    }
    45%{
        transform:translateX(480px);
    }
    60%{
        transform:translateX(720px);
    }
    65%{
        transform:translateX(720px);
    }
    80%{
        transform:translateX(960px);
    }
    85%{
        transform:translateX(960px);
    }
    85.1%{
        transform:translateX(-240px);
    }
    100%{
        transform:translateX(0px);
    }
}
.l3{
    animation-name: logo3;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
}
@keyframes logo3{
     0%{
        transform:translate(0px);
    }
    5%{
        transform:translate(0px);
    }
    12.5%{
        transform:translate(120px,-200px);
    }
    20%{
        transform:translateX(240px);
    }
    25%{
        transform:translateX(240px);
    }
    40%{
        transform:translateX(480px);
    }
    45%{
        transform:translateX(480px);
    }
    60%{
        transform:translateX(720px);
    }
    65%{
        transform:translateX(720px);
    }
    65.1%{
        transform:translateX(-480px);
    }
    80%{
        transform:translateX(-240px);
    }
    85%{
        transform:translateX(-240px);
    }
    100%{
        transform:translateX(0px);
    }
}
.l4{
    animation-name: logo4;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
}
@keyframes logo4{
     0%{
        transform:translate(0px);
    }
    5%{
        transform:translate(0px);
    }
    20%{
        transform:translateX(240px);
    }
    25%{
        transform:translateX(240px);
    }
    40%{
        transform:translateX(480px);
    }
    45%{
        transform:translateX(480px);
    }
    45.1%{
        transform:translateX(-720px);
    }
    60%{
        transform:translateX(-480px);
    }
    65%{
        transform:translateX(-480px);
    }
    80%{
        transform:translateX(-240px);
    }
    85%{
        transform:translateX(-240px);
    }
    92.5%{
        transform:translate(-120px,-200px);
    }
    100%{
        transform:translateX(0px);
    }
}
.l5{
    animation-name: logo5;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
}
@keyframes logo5{
     0%{
        transform:translate(0px);
    }
    5%{
        transform:translate(0px);
    }
    20%{
        transform:translateX(240px);
    }
    25%{
        transform:translateX(240px);
    }
    25.1%{
        transform:translateX(-960px);
    }
    40%{
        transform:translateX(-720px);
    }
    45%{
        transform:translateX(-720px);
    }
    60%{
        transform:translateX(-480px);
    }
    65%{
        transform:translateX(-480px);
    }
    72.5%{
        transform:translate(-360px,-200px);
    }
    80%{
        transform:translateX(-240px);
    }
    85%{
        transform:translateX(-240px);
    }
    100%{
        transform:translateX(0px);
    }
}
.area1{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:5%;
    color:white;
    font-family:"Rubik";
    
}
.Area{
    display:flex;
    flex-direction:row;
    gap:10%;
    margin-top:5%;
    margin-left:10%;
}
.sub-grid{
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:top;
    text-align:center;
    justify-content:top;
}

@media screen and (max-width: 768px) {
    html, body {
        width=100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

*, *::before, *::after {
  box-sizing: border-box;
  /* overflow-x: hidden !important; */
}
a.g1{
    font-size:1.5rem;
}
a.g2{
        display:none;
    }
a.g3{
    display:none;
}
a.g4{
    display:none;
}
.Top-Bar {
        flex-direction: row;
        gap:0.5%;
        align-items: center;
        margin-top:2%;
        margin-left:1%;
        font-size: 0.5rem;
        width:390px;
        max-width:768px;
    }
    .menubar{
        display:initial;
        visibility:visible;
        border:2px solid white;
        background-color:white;
        color:#1f1633;
        border-radius:5px;
        font-family:"Rubik";
        font-size:small;
    }
    .Top-Bar3 {
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
        font-size: 0.5rem;
    }
    .Top-Links {
        flex-direction: row;
        gap: 10px;
        display:hidden;
    }
    .Pop-up-ki-ma{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
    .UFO-ki-ma{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
    .Pop-up {
        font-size: 0.8rem;
        padding: 5px;
        margin-left:5%;
        margin-right:5%;
        justify-content:center;
        align-items:center;

    }
    .Banner{
        margin-left:15%;
        padding:0;
        font-size:0.8rem;
        text-align:center;
    }
    .SubText{
        font-size:0.8rem;
        margin-left:10%;
        margin-right:10%;
    }
    .links1{
        font-size:small;
        margin-left:-30%;
    }
    .Mascot{
        width:100%;
        overflow-x:hidden;
    }
 /*    .UFO{
        margin-left:-10%;
        overflow-x:hidden;
    } */
     .Title{
        font-size:2rem;
        margin-left:2%;
     }
     #special{
        margin-top:40%;
     }
     .Pink{
        font-size:2rem;
     }
     .Area{
        display:flex;
        flex-direction:column;
        margin-left:2%;
        margin-right:2%;
        text-align:center;
        gap:5%;
     }
     .cutiepic{
        width:100%;
     }
     .Title1{
        font-size:2rem;
     }
     .SubText1{
        font-size:0.8rem;
        margin-left:2%;
        margin-right:2%;
     }
     .flexusage_ki_maa{
        display:flex;
        flex-direction:column;
        margin-left:-20%;
     }
     .stack{
        width:80%;
        height:auto;
        margin-left:20%;
        margin-top:-15%;
     }
     .stack1{
        width:80%;
        height:auto;
        margin-left:20%;
        margin-top:-15%;
     }
     .zesty-flex{
        display:flex;
        flex-direction:column;
        margin-left:2%;
        margin-right:2%;
        margin-top:5%;
        justify-content:center;
        align-items:center;
        text-align:center;
     }
     .zesty-quotes{
        align-items:center;
        justify-content:center;
     }
     .really-special{
        margin-top:20%;
     }
     .drop-down{
        margin-left:auto;
        margin-right:auto;
     }
     .drop-down-menu{
        margin-left:auto;
        margin-right:auto;
     }
     .cheetah{
        margin:10%;
        text-align:center;
        padding:0;
     }
     .logo-column{
        width:100%;
        margin:0;
        padding:0;
     }
     .flex-father{
        flex-direction:column;
        margin-left:auto;
        margin-right:auto;
        align-items:center;
        text-align:center;
     }
     .flex-son{
        margin-left:auto;
        margin-right:auto;
     }
     .final-img{
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
     }
     .grid-usage{
        grid-template-columns: 1fr;
        margin-left:auto;
        margin-right:auto;
     }

}