*{
    padding:0;
    border-spacing: border-box;
    margin:0;
}
h1{
    color:darkred;
    text-align:center;
    border:2px solid yellow;
    margin: 20px;
    background-color:lightblue;
    border-radius:20px;
    width:fit-content;
    margin:0 auto;
    padding: 1rem 1rem;
    margin-top:20px;
    margin-bottom:20px;

}
main{
    text-align:center;
    line-height: 1.5;
    border: 2px solid yellow;
    margin:20px;
    list-style:inside;
    list-style-type:disc;
    border-radius:20px;
    width:fit-content;
    margin:0 auto;
    padding: 2rem 1rem;
    background-color:rgba(156, 253, 0, 0.596);
    margin-bottom:20px;
}
li a{
    display:block;
}
a:focus,a:hover{
    color:darkturquoise;
    background-color:rgb(222, 236, 27);
}
a:visited{
    color:darkblue;
}
footer{
    text-align:center;
    border:2px solid black;
    width:fit-content;
    margin:0 auto;
    border-radius:20px; 
    padding:8px 16px;

}